/* Aula inicial :D */
body {
    background-image: url('https://wallpaperaccess.com/full/42332.png');
    background-size: auto 100vh; /*auto: mantem proporção*/
    
    font-family: Courier New;
    height: auto 100vh;
  }
  
  .menu {
    background-color: #23082E;
    font-size: 25px;
    border-radius: 10px;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around; /*justify precisa do display flex pra funcionar*/
    
  }
  .menu li {/*todas as li que estão dentro do menu*/
    list-style: none;  
  }
  
  a {  
    color: #FDE200;
    text-decoration: none;
  
  }
  
  a:hover { /*classe com pseudoclasse*/
    text-decoration: underline;
  }
  
  .site-subtitle, /*aplica as propriedades nos dois*/ 
  .site-title {
    color: white; /*dica: organizar em ordem alfabetica*/
    text-align: center;
    
  }
  
  .site-subtitle {
    font-style: italic;
  }
  
  